*,
* ::before
* ::after {
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: Roboto, sans-serif;
    color: #434455;
}
section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
}
h1,
h2,
h3,
p,
ul, 
ol {
    margin: 0;
    padding:  0;
    list-style: none;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header-main{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.nav-container-general{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    
}

.general-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    height: 21px;
}

.logo-studio {
    color: #2e2f42;
    height: 21px;
}

.nav-container-logo{
    margin-right: 76px;
}

.nav-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
    
}
.nav-conteiner-item{
position: relative;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    width: 48px;
    height: 24px;
    padding: 24px 0 24px 0;
    gap: 40px;
    position: relative;
color: #434455;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    color: #404bbf;
    position: relative;
}

.current::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 20px;
    border-radius: 2px;
    background-color: #404BBF;
    color: #404BBF;
   
}

.nav-link:last-child{
    margin-right: 0;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-address {
    font-style: normal;
    margin-left: auto;
}

.nav-container-address{
    display: flex;
    gap: 40px;
}

.nav-address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-address-mail:last-child{
  
}

.nav-address-mail:hover {
    color: #404bbf;
}

.nav-address-mail:focus {
    color: #404bbf;
}

.first-section {
    max-width: 1440px;
    background-position: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 496px;
    margin-bottom: 48px;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 56px;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-head{
    padding: 120px 0;
}
.second-section-main{
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    list-style: none;
}

.second-section-item{
    width: calc((100% - 72px) / 4);
}
.icon-second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.second-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.third-section-main{
display: flex;
    gap: 24px;
}
    

.third-section-photo {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.job-title{
padding: 32px 0;
}

.third-section-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.third-section-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.third-section-icon{
display: flex;
justify-content: center;
gap: 24px;
}

.third-section-icon-item{
    width: 40px;
    height: 40px;
    
}

.third-section-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-link:hover{
    background-color: #404bbf;
}

.third-section-link:focus{
    background-color: #404bbf;
}

.third-section-dsr {
fill: #f4f4fd;
}

.fourth-section{
    padding: 120px 0 120px 0;
}

.title-portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-portfolio-main{
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list{
    margin-bottom: 0;
    width: calc((100% - 48px) / 3);
transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box{
position: relative;
overflow: hidden;
}

.portfolio-list:hover .overlay-text {
transform: translatey(0);
opacity: 1;
}

.overlay-text{
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.description-name{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}


.description-portfolio {
color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description-portfolio-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-info {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-main{
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-lower {
    color: #f4f4fd;
}

.footer-container{
margin-right: 120px;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-social{

}

.footer-social-name{
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-social-list{
display: flex;
gap: 16px;
border: none;
}

.footer-social-item{
width: 40px;
height: 40px;
}

.footer-social-item-icon{
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item-icon:hover{
    background-color: #31D0AA;
}

.footer-social-item-icon:focus{
background-color: #31D0AA;
}

.footer-social-icon{
fill: #f4f4fd;
}

.form-footer{
width: 453px;
margin: 0 auto;
}
.form-text{
color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
}
.form-container{
display: inline-flex;
}
.form{
display: inline-flex;
align-items: center;
width: 264px;
height: 40px;
}
.form-email{
    width: 264px;
    height: 40px;
    background-color: #2E2F42;
    flex-shrink: 0;
     border-radius: 4px;
     border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 24px;
    padding: 8px 212px 8px 16px;
}
.form-input{
color: #FFF;
font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 2;
letter-spacing: 0.04em;
background-color: #2E2F42;
border: none;
}
.form-btn{
    display: inline-flex;
    align-items: center;
    width: 165px;
    height: 40px;
    gap: 16px;
border-radius: 4px;
color: #FFF;
background-color: #4D5AE5;
padding: 8px 24px;
background-repeat: no-repeat;
cursor: pointer;
}
.form-btn::after{
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/Frame-3.svg);
    
}